.button__container {
  margin-top: 200px;
  text-align: center;
}
.button {
  background-color:green;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
}

.navbar {
  background-color: #23262a;
  color: whitesmoke;
  display: flex;
  padding: 10px
}

.navbar li {
  display: inline;
  padding-right: 30px;
  font-size: 25px;
  font-style: bold;
}

.footer {
  text-align: center;
  color: whitesmoke;
  background-color: #23262a;
  padding: 8px
}

.selected {
  text-decoration: none;
  color: whitesmoke;
  font-style: bold
}